*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    overflow-x: hidden;
}
.navbar{
    height: 8vh;
    width: 100vw;
    /* border: solid red ; */
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 17px;
    gap: 15px;
}
.navbar div{
    /* border: solid green; */
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.navbar .col{
    color: orange;

}

.navbar .col:hover{
    color: #CC7A00;
    background-color: rgb(248, 245, 245);


}

.navbar div:hover{
    color: orange;
    background-color: rgb(248, 245, 245);
    
}


.navbar img{
    /* border: solid blue; */
    height: 60px;
    width: 100px;
}





.navdown{
    height: 5vh;
    width: 100vw;
    /* border: solid red; */
    display: flex;
    justify-content: start;
    gap: 1px;
}

.navdown article{

    height: 100%;
    width: 8%;
    /* border: solid .1px green; */
    display: flex;
    font-size:12px ;
    justify-content: center;
    align-items: center;
    color: white;
}

.navdown article i{
    position: relative;
    bottom: 3px;
    left: 3px;
}








.maincont{
    height: 78vh;
    width: 100vw;
    /* border: solid red ; */
    margin-top: 1px;
}



.maincont .cont{
    height: 70%;
    width: 100%;
    /* border: solid red ; */
    display: flex;
    gap: 7px;
    justify-content: center;
    font-family: Lato,sans-serif;
}

.maincont .cont .one{
    height: 100%;
    width: 31%;
    /* border: solid gold; */
    padding-left:10px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
    font-family: Lato , sans-serif;
    background-image: url(./images/abs1.7ba9658.jpg);
    color: white;
    box-shadow: 1xp 1px 1px lightgray;
}
.maincont .cont .one .head{
    color: orange;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
}

.maincont .cont .two{
    height: 100%;
    width: 31%;
    /* border: solid .1px grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 2px 2px 5px lightgray;

}


.maincont .cont .two .head{
    color: orange;
    font-size: 15px;
    text-decoration: underline;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.maincont .cont .two .box{
    width: 90%;
    height: 80%;
    /* border: solid blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.maincont .cont .two .box .plaStd{
    height: 90%;
    width: 100%;
    border-left: solid blue;
    border-right: solid blue;
    margin: auto;
    border-radius: 4px;
    background-color: #F5F5F5;
    color: blue;
    font-size:15px ;
    font-weight: bold;
    padding-left: 7px;
}

.maincont .cont .three{
    height: 100%;
    width: 31%;
    /* border: solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 2px 5px lightgray;

}

.maincont .cont .three .head{
    color: orange;
    font-size: 15px;
    text-decoration: underline;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.maincont .cont .three .ydm{
    width: 90%;
    height: 80%;
    /* border: solid blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:5px;
}

.maincont .cont .three .ydm .time{
    height: 8%;
    width: 100%;
    background-color: #4A4A4A;
    color: white;
    text-align: center;
}

.maincont .cont .three .ydm .boxes{
    height: 10%;
    width: 100%;
    /* background-color: #4A4A4A; */
    /* border: solid green; */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.maincont .cont .three .ydm .boxes .ybox{
    height: 100%;
    width: 15%;
    background-color: #1261A0;
    font-size: 12px;
    font-family:sans-serif ;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincont .cont .three .ydm .boxes .zbox{
    height: 100%;
    width: 20%;
    background-color: orange;
    font-size: 12px;
    font-family:sans-serif ;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincont .cont .three .want{
    height: 14%;
    width: 70%;
    background-color: #1261A0;
    color: white;
    font-weight: bolder; display: flex;
    justify-content: center;
    align-items: center;
    border-radius:7px ;
    gap: 5px;
}







.maincont .star{
    height: 30%;
    width: 100%;
    /* border: solid red ; */
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    
}



.maincont .star .starbox{
    /* border: solid green; */
    height: 90%;
    width: 15%;
    box-shadow: 2px 2px 5px lightgray;

}

.maincont .star .starbox .str{
    height: 35%;
    width: 100%;
    background-color: #4A4A4A;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: bold;

}

.maincont .star .starbox .cont{
    height: 65%;
    width: 100%;
    display: flex;
    text-align: center;
    display: flex;
    font-size: 16px;
    /* align-items: center; */
    font-family: sans-serif;

}



.course{
    height: 35vh;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

} 

.course .coursebox1{
    height: 20%;
    width: 80%;
    /* border: solid red; */
    color: white;
    font-weight: bold;
    background-color: #1261A0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
} 
.course .coursebox2{
    height: 80%;
    width: 80%;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 5px;
} 

.course .coursebox2 .text{
    height: 30%;
    width: 100%;
    /* border: solid green; */
    font-size: 14px;
    text-align: center;
    padding: 0px 20px;
}

.course .coursebox2 .orangetext{
    height: 20%;
    width: 40%;
    /* border: solid green; */
    color: orange;
    font-weight: bold;
}

.course .coursebox2 .textbox{
    height: 40%;
    width: 100%;
    /* border: solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.course .coursebox2 .textbox .box{
    width: 15%;
    height: 60%;
    /* border: solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;font-weight: bold;
    border-radius: 7px;
    
}
.course .coursebox2 .textbox .box1{
    width: 15%;
    height: 60%;
    /* border: solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1261A0;
    color: white;font-weight: bold;
    border-radius: 7px;
    
}


.coursetype{
    height: 80vh;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
} 


.coursetype .courseses{
    height: 95%;
    width: 80%;
    /* border: solid red; */
    display: grid;
    grid-template-rows: repeat(2 ,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 22px;
}


.coursetype .courseses .software{
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 5px;
}


.coursetype .courseses .software .cname{
    height: 25%;
    width: 100%;
    /* border: solid gold; */
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}
.coursetype .courseses .software .cname .head{
    width: 50%;
    height: 100%;
    /* border: solid red; */
    color: orange;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

}
.coursetype .courseses .software .cname .icon{
    width: 35%;
    height: 100%;
    /* border: solid red; */
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right:10px;
}

.coursetype .courseses .software .cname .icon img{
    width: 25px;
    height: 25px;
    /* border: solid red; */
}


.coursetype .courseses .software .cont{
    height: 60%;
    width: 100%;
    /* border: solid gold; */
    padding: 0px 5px;
    font-size:16px ;
    color: rgb(75, 74, 74);
}

.coursetype .courseses .software .boxes{
    height: 12%;
    width: 100%;
    /* border: solid gold; */
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.coursetype .courseses .software .boxes .box{
    height: 100%;
    width: 33%;
    /* border: solid red; */
    position: relative;
    top: 8px;
    background-color: #1261A0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.coursetype .courseses .software .boxes .box1{
    height: 100%;
    width: 33%;
    /* border: solid red; */
    position: relative;
    top: 8px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}










.footer{
    height: 8vh;
    width: 99vw;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    gap: 10px;
    position: sticky;
    bottom: 0px;
    box-shadow: 2px 2px 5px lightgray;

}

.footer .fot{
    height: 100%;
    width: fit-content;
    /* border: solid gold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: orange;
    gap: 5px;
}


.footer .fot:hover{
    color: #CC7A28;
}


